import os


if os.getenv('IS_DEBUG_PYTHON') == 'true':
    def wrapper(func):
        def inner():
            return next(func)
        return inner

    input = wrapper(open('kickstart.in'))


def solution():
    x = input()


n = int(input())
for i in range(1, n + 1):
    print('Case #%d: ' % i, end='')
    solution()
