import solution
import treenode


def wrapper(func):
    def inner():
        return next(func)
    return inner


input = wrapper(open('oj.in'))

if __name__ == '__main__':
    solution = solution.Solution()
    str = input()
    root = treenode.stringToTreeNode(str)
    ans = solution.isSymmetric(root)
    print(ans)
