import solution
import treenode


def wrapper(func):
    def inner():
        return next(func)
    return inner


input = wrapper(open('main.in'))

if __name__ == '__main__':
    solution = solution.Solution()
    s = input()
    root = treenode.stringToTreeNode(s)
    ans = solution.isSymmetric(root)
    print(ans)

