import os


if os.getenv('IS_DEBUG_PYTHON') == 'true':
    def wrapper(func):
        def inner():
            return next(func)
        return inner

    input = wrapper(open('oj.in'))

n = input()
print(n)
